.asasas {
    position: relative;
}

.els3r {
    position: absolute;
    background-color: brown;
    top: 0;
    right: 12px;
    color: yellow;
    padding: 10px;
    font-weight: 600;
}